// primary

$primary-color: rgba(255, 255, 255, 1);
$primary-disabled-color: rgba(131, 136, 143, 1);
$btn-primary-bg: rgba(99, 103, 204, 1);
$btn-primary-hover-bg: rgba(117, 122, 241, 1);
$btn-primary-focused-bg: rgba(99, 103, 204, 1);
$btn-primary-disabled-bg: rgba(244, 245, 246, 1);

// secondary

$secondary-color: rgba(99, 103, 204, 1);
$secondary-disabled-color: rgba(131, 136, 143, 1);
$btn-secondary-bg: rgba(234, 235, 255, 1);
$btn-secondary-hover-bg: rgba(234, 235, 255, 1);
$btn-secondary-focused-bg: rgba(234, 235, 255, 1);
$btn-secondary-disabled-bg: rgba(244, 245, 246, 1);

// clear

$clear-color: rgba(26, 32, 38, 1);
$clear-disabled-color: rgba(131, 136, 143, 1);
$btn-clear-bg: none;
$btn-clear-hover-bg: rgba(244, 245, 246, 1);
$btn-clear-focused-bg: none;
$btn-clear-disabled-bg: none;

.root {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  font-weight: 600;

  &.large {
    font-size: 18px;
    padding: 16.5px 16px;
  }

  &.small {
    font-size: 16px;
    padding: 12px 16px;
  }

  &:disabled {
    cursor: default;

    &.primary,
    &.secondary {
      color: $primary-disabled-color;
      background: $btn-primary-disabled-bg;
    }

    .clear {
      color: $clear-disabled-color;
      background: $btn-clear-disabled-bg;
    }
  }

  &.primary:not(:disabled) {
    color: $primary-color;
    background: $btn-primary-bg;
    svg {
      path {
        stroke: $primary-color;
      }
    }
    &:hover {
      background: $btn-primary-hover-bg;
    }

    &:focus {
      background: $btn-primary-focused-bg;
    }
  }

  &.secondary:not(:disabled) {
    color: $secondary-color;
    background: $btn-secondary-bg;
    svg {
      path {
        stroke: $secondary-color;
      }
    }
    &:hover {
      background: $btn-secondary-hover-bg;
    }
    &:focus {
      background: $btn-secondary-focused-bg;
    }
  }

  &.clear:not(:disabled) {
    color: $clear-color;
    background: $btn-clear-bg;
    svg {
      path {
        stroke: $clear-color;
      }
    }
    &:hover {
      background: $btn-clear-hover-bg;
    }
    &:focus {
      background: $btn-clear-focused-bg;
    }
  }
}
