@use 'styles/breakpoints';

.gallery {
  margin-top: 206px;
  min-height: 524px;
}

.main-container {
  display: flex;
  gap: 18px;
}

.main-column {
  flex-grow: 1;
}

.root {
  margin-top: 100px;
}

.filters {
  max-width: 423px;
  padding-top: 141px;

  @include breakpoints.less-than('s') {
    display: none;
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  color: #1A2026;
}