.root {
  background: #f6f8f9;
  padding: 32px;
  border-radius: 24px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  margin-bottom: 16px;
}

.description {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  color: #b0b6bf;
}

.children {
  flex-grow: 1;
}
