.root {
  display: flex;
  flex-direction: column;

  .pagination {
    margin-top: 30px;
    width: 500px;
    height: 50px;
    background: gray;
    align-self: center;
    border-radius: 12px;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
  }
}
