.root {
  display: flex;
  flex-direction: column;

  .pagination {
    margin-top: 30px;
    align-self: center;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
  }
}
