.root {
  height: 58px;
  padding: 12px 16px;
  gap: 8px;
  border-radius: 16px;
  background: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;


  &.selected {
    background: #6367CC;
    color: white;
  }
}