.rc-pagination {
  display: flex;
  gap: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
}

.rc-pagination-disabled {
  .pagination-prev,
  .pagination-next {
    cursor: default;
    background: #f4f5f6;
    svg {
      path {
        stroke: #83888f;
      }
    }
  }
}

.pagination-prev,
.pagination-next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #6367cc;
  transition: background 0.3s;
  svg {
    path {
      stroke: white;
    }
  }
}

.pagination-next {
  transform: rotate(180deg);
}

.rc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ' ';
}

.rc-pagination-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  transition:
    color,
    background-color 0.5s;
}
.rc-pagination-item a {
  display: block;
  padding: 0 6px;
  transition: none;
}

.rc-pagination-custom-jump-prev,
.rc-pagination-custom-jump-next {
  background: #6367cc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
}

.rc-pagination-item:focus,
.rc-pagination-item:hover {
  transition: all 0.3s;
}

.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
}

.rc-pagination-item-active {
  background: #eaebff;
}
.rc-pagination-item-active a {
  color: #6367cc;
}

.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #6367cc;
}

.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  background: white;
  border: none;
  cursor: pointer;
}

.rc-pagination-prev,
.rc-pagination-next {
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.rc-pagination-prev button,
.rc-pagination-next button {
  cursor: pointer;
  user-select: none;
}
.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
}

.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #6367cc;
  border-radius: 16px;
  transition: all 0.3s;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
}

.rc-pagination-prev button:disabled:after,
.rc-pagination-next button:disabled:after {
  color: #83888f;
}

.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  color: #83888f;
  background: #f4f5f6;
  cursor: default;
}

@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}
.rc-pagination-options-size-changer.rc-select {
  display: inline-block;
  width: auto;
}
.rc-pagination-options-quick-jumper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 28px;
}

@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
  }
}
