@import "styles/breakpoints";

.root {
  margin-top: 100px;
  padding-bottom: 32px;
  @include less-than('s'){
    margin-top: 32px;
  }
}

.container {
  background: #F6F8F9;
  border-radius: 16px;
  display: flex;
  padding: 32px;
  height: 100%;
  gap: 64px;
  color: #54585D;
  @include less-than('s'){
    flex-direction: column;
    gap: 32px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 432px;
  @include less-than('s'){
    max-width: none;
    + .list {
      padding-top: 32px;
      box-shadow: 0 2px 0 0 #D8DEE7 inset;
    }
  }
}

.list-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
}

.logo-svg {
  flex-shrink: 0;
  &-small {
    display: none;
  }

  @include less-than('s') {
    display: none;
    &-small {
      display: block;
    }
  }
}