.root {
  position: fixed;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: #1A2026;
}

.container {
  padding: 24px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button.close {
    padding: 12px;
  }
}

.nav-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  .nav-link {
    padding: 16px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
  }
}