@import "styles/breakpoints";

.section-title {
  color: #1A2026;
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 48px;

  @include less-than('l') {
    font-size: 24px;
  }

  @include less-than('s') {
    margin-bottom: 24px;
  }
}

.nav-cards {
    grid-row-gap: 8px;
}

.nav-card {
  grid-column: span 3;
  height: 483px;

  &:nth-child(2n) {
    background: radial-gradient(129.77% 100% at 100% 100%, #1CC2D9 0%, #226188 56.37%, #253766 97.58%);

  }

  @include less-than('l') {
    grid-column: span 2;
  }

  @include less-than('s') {
    height: 408px;
    grid-column: span 4;
  }

  @include less-than('xs') {
    div {
      font-size: 24px;
      font-weight: 600;
      line-height: 33.6px;
    }
  }

}