.root {
  display: flex;
  padding: 16px;
  width: 100%;
  height: 170px;
  gap: 30px;
  background-color: gray;
  border-radius: 12px;

  .image-container {
    width: 120px;
    border-radius: inherit;
    border: 1px solid black;
  }
}
