.embla {
  overflow: hidden;

  --slide-size: auto;
}

.embla__container {
  min-height: 100%;
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__viewport {
  overflow: hidden;
  height: 100%;
}

.embla__slide {
  height: auto;
  display: flex;
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__controls {
  min-height: 12px;
  margin-top: 16px;
}