@use 'sass:map';
@import 'styles/breakpoints';

.root {
  display: grid;
  width: 100%;

  $base-column-gap: 8px;

  grid-template-columns: repeat(12, 1fr);
  column-gap: $base-column-gap;

  @include less-than('l') {
    grid-template-columns: repeat(8, 1fr);
  }

  @include less-than('s') {
    grid-template-columns: repeat(4, 1fr);
  }
}
